<p>Clinics</p>

<button (click)="createNew('clinic')">
    New Clinic
</button>

<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of list; index as id">
           <td>{{item.id}}</td>
           <td>{{item.name}}</td>
           <td>
               <button (click)="edit('/clinic', id)">
                    Edit
                </button></td>
           <td>
               <button (click)="delete('/clinic', id)">
                    Delete
                </button>
            </td>            
            
       </tr>
    </tbody>
  
   <router-outlet id="clinics"></router-outlet>