
@{
    ViewBag.Title = "Clinic";
}

<h2>Clinics</h2>

@{
    foreach (var clinic in ViewBag.ClinicList)
    {
        <div>
            <span>@clinic.Id</span>
            <span>@clinic.Name</span>
        </div>
    }
}
