<p>Equipments</p>

<button (click)="createNew('/equipment')">
    New Equipment
</button>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Procure Date</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Usage Ratio</th>
        <th>Clinic Id</th>        
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of list; index as id">
           <td>{{item.id}}</td>
           <td>{{item.name}}</td>
           <td>
            {{item.procureDate}}
            </td>
    
            <td>
                {{item.quantity}}
            </td>
        
            <td>
                {{item.price}}
            </td>
        
            <td>
                {{item.usageRatio}}
            </td>
        
            <td>
                {{item.clinicId}}
            </td>
            <td>
                <button (click)="edit('/equipment', id)">
                    Edit
                </button>
            </td>
            <td>
                <button (click)="delete('/equipment', id)">
                    Delete
                </button>
            </td>        
            
       </tr>
    </tbody>
 